.social {
  margin: 0 0 32px;
}
.social-icon {
  margin-right: 10px;
  svg {
    width: 42px;
    height: 42px;
    path {
      fill: var(--primary-color);
    }
    &:hover {
      path {
        fill: var(--secondary-color);
      }
    }
  }
}

.contactme {
  input,
  textarea {
    color: var(--text-color);
    background-color: var(--contactme-bg);
    border-top: transparent;
    border-right: transparent;
    border-bottom: 2px solid var(--primary-color);
    border-left: transparent;
    &:focus {
      outline: none; // Disable outline on focus
    }
  }
  textarea {
    height: 170px;
  }
}
