.footer {
  text-align: center;
  margin: 32px 0 3px;
  font-weight: 600;
  // Inspired - https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4
  .footer-icon {
    display: inline-flex;
    align-self: center;
    svg {
      height: 24px;
      width: 24px;
      fill: var(--primary-color);
      &:hover {
        fill: var(--secondary-color);
      }
    }
  }
  .footer-icon.baseline {
    svg {
      top: 6px;
      position: relative;
    }
  }
}
