header.masthead {
    background: var(--home-bg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    //
    height: 100vh;

    @media (min-width: 992px) {
        margin-top: 8vh;
        //
        height: 92vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }

    h1 {
        font-size: 2rem;

        @media (min-width: 992px) {
            font-size: 3rem;
        }

        @media (min-width: 1200px) {
            font-size: 3.5rem;
        }
    }

    h4 {
        font-size: 1.4rem;

        @media (min-width: 992px) {
            font-size: 1.6rem;
        }

        @media (min-width: 1200px) {
            font-size: 1.7rem;
        }
    }

}

hr.divider {
    max-width: 5.25rem;
    border-width: 0.2rem;
    border-color: var(--primary-color);
}