$color-primary-light: #ff8a50;
$color-primary-main: #ff5722;
$color-primary-dark: #c41c00;
$color-primary-text: rgb(255, 255, 255);
$color-primary-contrast-text: rgba(0, 0, 0, 0.9);

$color-secondary-light: #006758;
$color-secondary-main: #009688;
$color-secondary-dark: #52c78b;
$color-secondary-text: rgb(255, 255, 255);
$color-secondary-contrast-text: rgba(0, 0, 0, 0.7);

$font-navbar: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$width-lg: 992px; // Large screen width threshold

// Defines navbar colors for MOBILE screen & page scrolled down
@mixin navbar-mobile-scrolled-colors() {
  --bg-color: #{$color-primary-main};
  --text-color: #{$color-primary-text};
  --text-color-hover: #{$color-primary-contrast-text};
}

//
// DEFINES navbar COLORS FOR EACH SCREEN
//
#mainNavbar {
  // Screen - MOBILE
  @include navbar-mobile-scrolled-colors();
  // Screen - DESKTOP
  @media (min-width: $width-lg) {
    --bg-color: transparent;
    --text-color: #{$color-primary-main};
    --text-color-hover: #{$color-primary-contrast-text};
  }
}
// Defines navbar colors if page is scrolled down, they are same as for MOBILE screen
#mainNavbar.navbar-scrolled {
  @include navbar-mobile-scrolled-colors();
}

// Defines navbar shadow box - MOBILE screen &
@mixin navbar-box() {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s ease;
}

@mixin navbar-font($font-weight, $font-size) {
  font-family: $font-navbar;
  font-weight: $font-weight;
  font-size: $font-size;
}

//
// DEFINES navbar LOOK & BEHAVIOUR
//
#mainNavbar {
  background-color: var(--bg-color);
  @media (max-width: $width-lg) {
    @include navbar-box();
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .navbar-toggler {
    border-color: var(--text-color);
  }
  .navbar-brand {
    color: var(--text-color);
    @include navbar-font(700, 1.3rem);
    /////margin-right: 200px;// ??? Pushes NavBar Brand to left on mobile
    @media (min-width: $width-lg) {
      @include navbar-font(700, 1.6rem);
      // margin-right: 100px; // Space between brand and items
    }
    &:hover {
      color: var(--text-color-hover);
    }
  }
  .navbar-nav .nav-item .nav-link {
    color: var(--text-color);
    @include navbar-font(600, 0.9rem);
    @media (min-width: $width-lg) {
      @include navbar-font(600, 1.1rem);
      margin-right: 10px;
      margin-left: 10px;
      padding-bottom: 1px; // nav-items horizontal alignment
      border-bottom: 4px solid transparent; // nav-items underscore - fake
    }
    &:hover,
    &:active {
      color: var(--text-color-hover);
    }
    &.active {
      color: var(--text-color-hover);
      @media (min-width: $width-lg) {
        border-bottom: 4px solid var(--text-color-hover); // nav-items underscore - genuine
      }
    }
  }
}
#mainNavbar.navbar-scrolled {
  @include navbar-box();
}
