$fontNavbar: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$widthLg: 992px; // Large screen width threshold

/*
 * DEFINES navbar COLORS FOR EACH SCREEN
 */
#mainNavbar,
#mainNavbar.navbar-scrolled {
  // MOBILE screen  & page scrolled
  --bg-color: var(--color-primary-main);
  --text-color: var(--color-primary-text);
  --text-color-hover: var(--color-primary-text-contrast);
}
#mainNavbar {
  // DESKTOP screen
  @media (min-width: $widthLg) {
    --bg-color: transparent;
    --text-color: var(--color-primary-main);
    --text-color-hover: var(--color-primary-text-contrast);
  }
}
// Select not scrolled on dark mode
// body.dark #mainNavbar:not(.navbar-scrolled) {
//   @media (min-width: $widthLg) {
//     --text-color-hover: red;
//   }
// }

// Defines navbar shadow box - MOBILE screen & page scrolled
@mixin navbar-box() {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s ease;
}

// Defines navbar brand/item font
@mixin navbar-font($fontWeight, $fontSize) {
  font-family: $fontNavbar;
  font-weight: $fontWeight;
  font-size: $fontSize;
}

// Defines navbar bottom
@mixin navbar-border-bottom($color) {
  border-bottom: 4px solid $color;
}

/*
 * DEFINES navbar LOOK & BEHAVIOUR
 */
#mainNavbar {
  background-color: var(--bg-color);
  @media (max-width: $widthLg) {
    @include navbar-box();
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$colorPrimaryText}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .navbar-toggler {
    border-color: var(--text-color);
    &:hover {
      border-color: var(--text-color-hover);
    }
  }
  .navbar-brand {
    color: var(--text-color);
    @include navbar-font(700, 1.3rem);
    @media (min-width: $widthLg) {
      @include navbar-font(700, 1.6rem);
    }
    &:hover {
      color: var(--text-color-hover);
    }
  }
  .navbar-nav .nav-item .nav-link {
    color: var(--text-color);
    @include navbar-font(600, 0.9rem);
    @media (min-width: $widthLg) {
      @include navbar-font(600, 1.1rem);
      margin-right: 10px;
      margin-left: 10px;
      padding-bottom: 1px; // nav-items horizontal alignment
      @include navbar-border-bottom(transparent); // nav-items underscore - fake
    }
    &:hover,
    &:active {
      color: var(--text-color-hover);
    }
    &.active {
      color: var(--text-color-hover);
      @media (min-width: $widthLg) {
        @include navbar-border-bottom(var(--text-color-hover)); // nav-items underscore - genuine
      }
    }
  }
}
#mainNavbar.navbar-scrolled {
  @include navbar-box();
}
